<h1>Login</h1>
<form action="/views/login" method="POST">
  <div>
    <label for="email">email</labe>
    <input type="text" id="email" name="email" required/>
  </div>
  <div>
    <label for="password">password</labe>
    <input type="password" id="password" name="password" required/>
  </div>
  <button type="submit">Login</button>
</form>
<a href="/views/register">Register</a>
